attr==0.3.2
ConfigParser==6.0.0
cryptography==41.0.4
cx-Freeze==6.15.8 
Cython==3.0.2
dl==0.1.0
docutils==0.20.1
html5lib==1.1 
ipython==8.15.0
ipywidgets==8.1.1
Jinja2==3.1.2
jnius==1.1.0
keyring==24.2.0
lockfile==0.12.2
numpy==1.26.0
pandas==2.1.1
Pillow==10.0.1 
plotly==5.17.0 
protobuf==4.24.3
pyOpenSSL==23.2.0
railroad==0.5.0
selenium==4.12.0
Sphinx==7.2.6
streamlit==1.27.0 
tornado==6.3.3
trove-classifiers==2023.9.19 
truststore==0.8.0
urllib3==1.26.7 
xmlrpc-client==0.1.1 
